:root {
    --main-bg-color: rgba(12, 11, 8, 1);
    --form-bg-color: rgba(12, 12, 12, 1);
    --white: rgba(255, 255, 255, 1);
    --yellow: rgba(220, 202, 135, 1);
    --gray: rgba(170, 170, 170, 1);
    --gradient-color:rgba(12, 12, 12, 1);
    --beige: rgba(245, 239, 219, 1);
    --border-form-color: rgba(220, 202, 135, 0.2);
    --line-color: rgba(250, 250, 250, 1);
    --laurels-button: rgba(220, 202, 135, 1);
    --black-gradient: rgba(4, 4, 4, 1);
    --subscribe-border: rgba(245, 239, 219, 1);

}
.container-header {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    margin: auto;
    width: 1680px;
}
.header {
    background-color: var(--main-bg-color);
    padding: 32px 0px 32px 0px;
}
.header-nav {
    display: flex;
    gap: 32px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.04em;
    text-align: left;
}
.nav-item {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: var(--white);
}
.nav-item-right, .nav-item-right-p {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.05em;
    color: var(--white);
}
.header-gradient {
    width: 1px;
    height: 57px;
    background-image: radial-gradient( rgba(255, 255, 255, 1), rgba(12, 11, 8, 1));
}
.container-header > div:last-child {
    display: flex;
    align-items: center;
    gap: 15px;
}
.content-cube, .content-cube-sec {
    width: 435px;
    height: 435px;
    background-color: var(--yellow);
}
.intro-section {
    display: flex;
    gap: 180px;
}
.container {
    width: 1300px;
    margin: 0 auto;
}
.introduction {
    background-color: var(--main-bg-color);
    padding-top: 72px;
    padding-bottom: 20px;
}
.intro-side-hashtag {
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    display: flex;
    gap: 40px;
    font-size: 18px;
    font-weight: 400;
    line-height: 31.5px;
    letter-spacing: 0.04em;
    text-align: center;
    position: absolute;
    bottom: 50%;
    left: 20px;
    color: var(--white);
}
.intro-item-h5 {
    font-family: Cormorant Upright;
    font-size: 23px;
    font-weight: 700;
    line-height: 29.9px;
    letter-spacing: 0.04em;
    text-align: left;
    color: var(--white);
    margin-top: 127.5px;
}
.intro-item-h5::after {
    content: "";
    background-image: url(../img/decoration-spoon.svg);
    background-size: contain;
    width: 40px;
    height: 9px;
    display: block;
    background-repeat: no-repeat;
}
.intro-item-key {
    font-family: Cormorant Upright;
    font-size: 90px;
    font-weight: 700;
    line-height: 117px;
    letter-spacing: 0.04em;
    text-align: left;
    color: var(--yellow);
    margin-top: 8px;
}
.intro-item-info {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.04em;
    text-align: left;
    color: var(--gray);
    margin-top: 32px;
}
.intro-item-explore {
    font-family: Cormorant Upright;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.04em;
    text-align: left;
    background-color: var(--yellow);
    padding: 8px 32px;
    margin-top: 32px;
}
.content-foto {
    position: relative;
    width: 619px;
    height: 688px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-sandwich {
    position: relative;
    z-index: 2;
    height: auto;
}
.content-cube,
.content-cube-sec {
    position: absolute;
    width: 435px;
    height: 435px;
    background-color: var(--yellow);
    z-index: 1;
}
.content-cube {
    top: 276px;
    left: -24px;
}
.content-cube-sec {
    top: -24px;
    right: -24px;
}
.info-name::after {
    content: "";
    background-image: url(../img/decoration-spoon-left.svg);
    background-size: contain;
    width: 40px;
    height: 9px;
    display: block;
    background-repeat: no-repeat;
    position: relative;
    left: 508px;
}
.info-name-right::after {
    content: "";
    background-image: url(../img/spoon.svg);
    background-size: contain;
    width: 40px;
    height: 9px;
    display: block;
    background-repeat: no-repeat;
    position: relative;
    left: -2px;
}
.special-menu {
    display: flex;
    gap: 32px;
}
.chef-role::after {
    content: "";
    background-image: url(../img/kevinluo.svg);
    background-size: contain;
    width: 235px;
    height: 83px;
    display: block;
    background-repeat: no-repeat;
    margin-top: 64px;
}
.customers-list-item {
    display: flex;
}
.interior {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/content-interior.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 1920px;
    height: 763px;
    background-size: cover; 
    width: 100%; 

}
.laurels-items {
    display: flex;
}
.updates-name {
    display: flex;
    flex-direction: column;
    text-align: center;
}
h2 {
    font-family: 'Cormorant Upright';
    font-size: 64px;
    font-weight: 600;
    line-height: 83.2px;
    letter-spacing: 0.03em;
    color: var(--yellow);
}
.menu-item {
    font-family: 'Cormorant Upright';
    font-size: 64px;
    font-weight: 600;
    line-height: 83.2px;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--white);
}
.menu-item:hover {
    text-decoration-line: underline;
    text-decoration-style: solid;
}
h5 {
    font-family: 'Cormorant Upright';
    font-size: 23px;
    font-weight: 700;
    line-height: 29.9px;
    letter-spacing: 0.04em;
    text-align: left;
    color: var(--white);
}
h4 {
    font-family: 'Cormorant Upright';
    font-size: 32px;
    font-weight: 400;
    line-height: 41.6px;
    letter-spacing: 0.04em;
    color: var(--yellow);
}
button {
    font-family: 'Cormorant Upright';
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: var(--main-bg-color);
}
p {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: var(--gray);
}
.chef-item-info, .people-feedback {
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.04em;
}
.people-job {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: var(--beige);
}
.laurels-name {
    color: var(--yellow);
}
.page-number {
    font-family: 'Cormorant Upright';
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: var(--beige);
}
.hashtag {
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 400;
    line-height: 31.5px;
    letter-spacing: 0.04em;
    color: var(--white);
}
.information {
    background-image: url(../img/second-sec-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-position: center;
}
.reservation {
    background-color: var(--main-bg-color);
}
.menus {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
    url(../img/fourth-bg-without-gradient.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-position: center;
}
.special-menu-bg {
    background-color: var(--main-bg-color);

}
.information .container {
    display: flex;
    gap: 74px;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 136px;
}
.info-left {
    text-align: right;
    
}
.yellow-button {
    background-color: var(--yellow);
    padding: 8px 32px;
}
.info-description {
    margin-bottom: 32px;
    margin-top: 32px;

}
.info-name, .info-name-right {
    margin-bottom: 8px;
}
.information {
    position: relative;
    overflow: hidden; 
}
.information::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 391px;
    height: 415px; 
    background-image: url(../img/content-g.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
    z-index: 0;
}
.container {
    position: relative;
    z-index: 1;
}
.info-image {
    position: relative;
    z-index: 1;
 }
.menus-list {
    display: flex;
    flex-direction: column;
    gap: 64px;
}
.menus .container {
    padding: 261px 0px;
}
.special-menu-h5, .special-menu-h2 {
    text-align: center;
}
.special-menu-h5::after {
    content: "";
    background-image: url(../img/decoration-spoon.svg);
    background-size: contain;
    width: 40px;
    height: 9px;
    display: block;
    background-repeat: no-repeat;
    position: relative;
    left: 48.5%;
    margin-top: 8px;
    margin-bottom: 8px;
}
.chef-information {
    background-image: url(../img/second-sec-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-position: center;
}
.chef-foto {
    display: flex;
}
.customers {
    background-color: var(--main-bg-color);
}
.customers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}
.customers-list-item {
    width: 634px;
}
.reservation-text-h5, .reservation-text-h2 {
    text-align: center;
}
.reservation-text-h5 {
    padding-top: 48px;
    
}
.reservation-text-h5::after {
    content: "";
    background-image: url(../img/decoration-spoon.svg);
    background-size: contain;
    width: 40px;
    height: 9px;
    display: block;
    background-repeat: no-repeat;
    position: relative;
    left: 48.9%;
    margin-top: 8px;
    margin-bottom: 8px;
}
.form {
    background-color: transparent;
    border: 1px solid var(--beige);
    width: 412px;
    height: 60px;
    margin: 64px 0px;
    color: var(--gray);
    font-family: 'Cormorant Upright';
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.04em;
}
.yellow-button-submit {
    background-color: var(--yellow);
    padding: 8px 32px;
    margin-bottom: 48px;
}
.submit-button {
    display: flex;
    justify-content: center;
}
.reservation-form {
    align-items: center;
    display: flex;
    align-items: center;
    gap: 32px;
}
.bg-form {
    background-color: var(--form-bg-color);
    border: 1px solid var(--border-form-color);
    padding: 0px 32px;
}
.reservation .container {
    padding-top: 157px;
    padding-bottom: 152px;
    display: flex;
    justify-content: center;
}
.wine-beer {
    width: 412px;
}
.other-cocktails {
    width: 412px;
}
.name-of-cocktail {
    color:  var(--yellow);
}
.cocktail-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    align-items: center;
    gap: 32px;
}
.special-cocktail-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.special-menu-bg {
    padding-top: 152px;
    padding-bottom: 152px;
}
.special-menu-h2 {
    margin-bottom: 64px;
}
.cocktail-name {
    font-family: 'Cormorant Upright';
    font-size: 45px;
    font-weight: 600;
    line-height: 58.5px;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--white);
    margin-bottom: 48px;
}
.line {
    background-color: var(--line-color);
    height: 1px;
    width: 119px;
    
}
.line-price {
    display: flex;
    align-items: center;
    gap: 32px;
}
.special-menu {
    margin-bottom: 64px;
}
.yellow-button {
    background-color: var(--yellow);
    padding: 8px 32px;
}
.button {
    display: flex;
    justify-content: center;
}
.content-foto-chef {
    position: relative;
    width: 586px;
    height: 741px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-chef {
    position: relative;
    z-index: 2;
    height: auto;
}
.chef-cube,
.chef-cube-sec {
    position: absolute;
    width: 435px;
    height: 435px;
    background-color: var(--yellow);
    z-index: 1;
}
.chef-cube {
    top: 328px;
    left: -24px;
}
.chef-cube-sec {
    top: -24px;
    right: -24px;
}
.chef-cube, .chef-cube-sec {
    width: 435px;
    height: 435px;
    background-color: var(--yellow);
}
.chef-item {
    margin-left: 120px;
}
.chef-information {
    padding: 152px 0px;
}
.chef-item-h5::after {
    content: "";
    background-image: url(../img/decoration-spoon.svg);
    background-size: contain;
    width: 40px;
    height: 9px;
    display: block;
    background-repeat: no-repeat;
    margin-top: 8px;
    margin-bottom: 8px;
}
.decoration-symbol::before {
    background-image: url(../img/decoration-symbol.svg) ;
    content: "";
    width: 47px;
    height: 40px; 
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}
.decor {
    display: flex;
    gap: 10px;
}
.chef-item-info-second {
    padding-top: 12px;
    font-style: italic;
}
.chef-item-key {
    margin-bottom: 64px;
}
.chef-name {
    margin-top: 64px;
    margin-bottom: 8px;
}
.chef-role {
    padding-bottom: 64px;
}
.chef-item {
    padding-top: 87px;
}
.customers-text-h5, .customers-text-h2 {
    text-align: center;
}
.customers-text-h5::after {
    content: "";
    background-image: url(../img/decoration-spoon.svg);
    background-size: contain;
    width: 40px;
    height: 9px;
    display: block;
    background-repeat: no-repeat;
    margin-top: 8px;
    margin-bottom: 8px;
    position: relative;
    left: 630px;
}
.customers-list-item {
    gap: 32px;
    padding-bottom: 52px;
}
.customers-list {
    margin-top: 64px;
}
.customers .container {
    padding-top: 152px;
    padding-bottom: 132px;
}
.people-name {
    padding-top: 16px;
    padding-bottom: 4px;
}
.people-list {
    align-items: center;
}
.laurels {
    background-image: url(../img/second-sec-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-position: center;
}
.laurels-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-top: 64px;
}
.laurels-list-item:nth-of-type(1)::before {
    content: "";
    background-image: url(../img/bib-decor1.png);
    background-size: contain;
    width: 79px;
    height: 79px;
    display: block;
}
.laurels-list-item:nth-of-type(2)::before {
    content: "";
    background-image: url(../img/rising-decor.png);
    background-size: contain;
    width: 79px;
    height: 79px;
    display: block;
}
.laurels-list-item:nth-of-type(3)::before {
    content: "";
    background-image: url(../img/aa-decor1.png);
    background-size: contain;
    width: 79px;
    height: 79px;
    display: block;
    background-repeat: no-repeat;
}
.laurels-list-item:nth-of-type(4)::before {
    content: "";
    background-image: url(../img/chef-decor1.png);
    background-size: contain;
    width: 79px;
    height: 79px;
    display: block;
}
.laurels-list-item {
    display: flex;
    align-items: center;
    padding-bottom: 32px;
}
.laurels-items {
    display: flex;
    gap: 111px; 
}
.l-item-text {
    width: 190px;
    padding-left: 32px;
}
.laurels-type::after {
    content: "";
    background-image: url(../img/decoration-spoon.svg);
    background-size: contain;
    width: 40px;
    height: 9px;
    display: block;
    background-repeat: no-repeat;
    margin-top: 8px;
    margin-bottom: 8px;
}
.laurels-items {
    align-items: center;
    padding: 128px 0px;
}
.updates {
    background-color: var(--main-bg-color);
}
.updates-list {
    display: flex;
    gap: 32px;
    padding: 64px 0px;
}
.updates-comment {
    display: flex;
    justify-content: space-between;
}
.updates .container {
    padding: 152px 0px;
}
.updates-list-item {
    gap: 32px;
    display: flex;
    flex-direction: column;
}
.button-updates {
    display: flex;
    justify-content: left;
}
.updates-button {
    color: var(--laurels-button);
}
.updates-foto {
    border: 1px solid var(--border-form-color);
}
.updates-blog {
    text-align: center;
}
.updates-blog::after {
    content: "";
    background-image: url(../img/decoration-spoon.svg);
    background-size: contain;
    width: 40px;
    height: 9px;
    display: block;
    background-repeat: no-repeat;
    margin-top: 8px;
    margin-bottom: 8px;
    position: relative;
    left: 630px;
}
.updates-h4:hover {
    text-decoration: underline;
}
#gallery {
    background-image: url(../img/second-sec-bg.jpg);
    padding: 129px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-position: center;
}
.gallery-list {
    display: flex;
    gap: 32px;
}
.subscribe {
    background-color: var(--main-bg-color);
    height: 50%;
}
.footer {
    background-image: url(../img/second-sec-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-position: center;
    padding-bottom: 128px;
}
.footer-info {
    display: flex;
    gap: 126px;
    padding-top: 98px;
}
.footer-info-item {
    text-align: center;
}
.footer-info-item:nth-child(3) {
    margin-left: 102px
}
.copyright {
    text-align: center;
    padding: 16px 0px;
}
.item-quote::after {
    content: "";
    background-image: url(../img/decoration-spoon.svg);
    background-size: contain;
    width: 40px;
    height: 9px;
    display: block;
    background-repeat: no-repeat;
    margin-top: 16px;
    margin-bottom: 8px;
    position: relative;
    left: 205px;
}
.decorations {
    display: flex;
    flex-direction: row;
    padding-bottom: 64px;
}
.facebook::after {
    content: "";
    background-image: url(../img/facebook.svg);
    background-size: contain;
    width: 10.39px;
    height: 20px;
    display: block;
    background-repeat: no-repeat;
    margin-top: 18px;
    position: relative;
    left: 175px;
}
.twitter::after {
    content: "";
    background-image: url(../img/twitter.svg);
    background-size: contain;
    width: 22.01px;
    height: 18.72px;
    display: block;
    background-repeat: no-repeat;
    margin-top: 18px;
    position: relative;
    left: 199px;
}
.instagram::after {
    content: "";
    background-image: url(../img/instagram.svg);
    background-size: contain;
    width: 20px;
    height: 20px;
    display: block;
    background-repeat: no-repeat;
    margin-top: 18px;
    position: relative;
    left: 218px;
}
.item-quote {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 4%;
    text-align: center;
    color: var(--white);
}
.item-h2 {
    color: var(--laurels-button);
    font-family: 'Cormorant Upright';
    font-weight: 700;
    font-size: 64px;
    line-height: 83.2px;
    letter-spacing: 4%;
    text-align: center;
    padding-bottom: 32px;
}
.footer-info-item:nth-child(1) {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 390px;
    gap: 8px;
}
.footer-link {
    color: var(--gray);
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 4%;

}
.links-footer {
    display: flex;
    flex-direction: column;
}
.item-h4 {
    font-family: 'Cormorant Upright';
    font-weight: 400;
    font-size: 32px;
    line-height: 41.6px;
    letter-spacing: 4%;
    color: var(--beige);
}
.content-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 88px;
    align-items: center;
    gap: 14px;
}
.rocks .container-header {
    width: 1702px;
    height: 893px;
    display: flex;
    justify-content: center;
}
.rocks-section-title {
    font-family: 'Cormorant Upright';
    font-weight: 700;
    font-size: 181px;
    line-height: 235.3px;
    letter-spacing: 5%;
    color: var(--white);
}
.background-two {
    background-image: linear-gradient(to top, rgba(4, 4, 4, 0.5), rgba(4, 4, 4, 0.5)),
    url('../img/bground-rocks.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.header-bar {
    padding: 32px 0px 32px 0px;
}
.bar-entertainment {
    background-image: linear-gradient(to top, rgba(4, 4, 4, 0.5), rgba(4, 4, 4, 0.5)),
    url('../img/bground-rocks.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.bar-entertainment-info {
    display: flex;
    gap: 143px;
    padding-top: 128px;
    padding-bottom: 79px;
}
.beer-foto {
    padding-top: 136px;
}
.foto-entertainment {
    display: flex;
    gap: 40px;
    flex-direction: column;
}
.entertainment-text-h5::after {
    content: "";
    background-image: url(../img/decoration-spoon.svg);
    background-size: contain;
    width: 40px;
    height: 9px;
    display: block;
    background-repeat: no-repeat;
    margin-top: 8px;
    margin-bottom: 8px;
}
.entertainment-text-h2 {
    margin-bottom: 32px;
}
.entertainment-text-p {
    margin-bottom: 32px;
}
.your-poison {
    background-color: var(--main-bg-color);
    padding-top: 201px;
    padding-bottom: 152px;
}
.your-poison-text {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.poison-cocktails-list {
    display: flex;
    gap: 32px;
}
.your-poison-text-h5::after {
    content: "";
    background-image: url(../img/decoration-spoon.svg);
    background-size: contain;
    width: 40px;
    height: 9px;
    display: block;
    background-repeat: no-repeat;
    margin-top: 8px;
    margin-bottom: 8px;
    position: relative;
    left: 42%;
}
.your-poison-text-h2 {
    margin-bottom: 64px;
}
.poison-cocktails-list-img {
    border: 1px solid var(--border-form-color);
}
.poison-cocktails-list-img:hover {
    opacity: 0.5;
}
.poison-cocktails-list-img {
    transition: opacity 0.3s ease-in-out;
}
.poison-cocktails-list-item:nth-child(1):hover::after {
    content: "Beer";
    color: var(--white);
    font-family: 'Cormorant Upright';
    font-weight: 600;
    font-size: 45px;
    line-height: 58.5px;
    letter-spacing: 4%;
    text-align: center;
    position: absolute;
    top: 60%;
    left: 12.5%;
}
.poison-cocktails-list-item:nth-child(2):hover::after {
    content: "Wine";
    color: var(--white);
    font-family: 'Cormorant Upright';
    font-weight: 600;
    font-size: 45px;
    line-height: 58.5px;
    letter-spacing: 4%;
    text-align: center;
    position: absolute;
    top: 60%;
    left: 47%;
}
.poison-cocktails-list-item:nth-child(3):hover::after {
    content: "Cocktail";
    color: var(--white);
    font-family: 'Cormorant Upright';
    font-weight: 600;
    font-size: 45px;
    line-height: 58.5px;
    letter-spacing: 4%;
    text-align: center;
    position: absolute;
    top: 60%;
    left: 80%;
}
.happy-hours {
    background-image: linear-gradient(to top, rgba(12, 12, 12, 0.5), rgba(12, 12, 12, 0.5)),
    url(../img/bg-happy-hours.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.happy-hours .container {
    width: 1920px;
    height: 900px;
    display: flex;
    justify-content: center;
}
.happy-hours-text {
    padding: 330px 0px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.happy-hours-text-h2 {
    font-weight: 600;
    font-size: 128px;
    line-height: 166.4px;
    letter-spacing: 3%;
}
.working-hours {
    display: flex;
    gap: 8px;
    justify-content: center;
}
.half-background-color {
    height: 373px;
    background-color: var(--main-bg-color);
}
.bg {
    background-color: var(--main-bg-color);
    padding-top: 113px;
}
.email-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--form-bg-color);
    border-right: 1px solid rgba(220, 202, 135, 0.2);
    border-top: 1px solid rgba(220, 202, 135, 0.2);
    border-left: 1px solid rgba(220, 202, 135, 0.2);
    padding-top: 64px;
}
.info-subscribe-p {
    color: var(--white);
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 4%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 64px;
}
.email-place {
    background-color: transparent;
    width: 635px;
    height: 60px;
    font-family: 'Cormorant Upright';
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 4%;
    color: var(--gray);
    padding-left: 19px;
    border: 1px solid var(--subscribe-border);
}
.email-text-h5::after {
    content: "";
    background-image: url(../img/decoration-spoon.svg);
    background-size: contain;
    width: 40px;
    height: 9px;
    display: block;
    background-repeat: no-repeat;
    margin-top: 8px;
    margin-bottom: 8px;
    position: relative;
    left: 30px;
}
.email-text-h2 {
    padding-bottom: 19px;
}
.subscribe-place {
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: center;
    align-items: center;
    padding-bottom: 64px;
}
.info-subscribe {
    background-color: var(--form-bg-color);
    border-right: 1px solid rgba(220, 202, 135, 0.2);
    border-bottom: 1px solid rgba(220, 202, 135, 0.2);
    border-left: 1px solid rgba(220, 202, 135, 0.2);
}
.subscribe-button {
    padding: 8px 32px;
    background-color: var(--laurels-button);
}
.item-h4 {
    padding-top: 25px;
    padding-bottom: 16px;
}
.nav-scroll {
    font-family: 'Cormorant Upright';
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 4%;
    color: var(--yellow);
}
.scroll-footer {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: right;
    margin-right: 120px;
    position: relative;
    top: -45px;
}
.footer-scroll-gradient {
    width: 1px;
    height: 61px;
    background-image: linear-gradient(to top, rgba(220, 202, 135, 0.24), rgba(220, 202, 135, 1));
    position: relative;
    left: 99%;
}
.opening-hours {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
}
.visit-us {
    margin-top: 64px;
}
.opening-hours-h5 {
    color: var(--yellow);
}
.contact {
    background-image: linear-gradient(to top, rgba(4, 4, 4, 0.5), rgba(4, 4, 4, 0.5)),
    url('../img/bground-rocks.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 128px 0px;
}
.contact-items {
    display: flex;
    gap: 168px;
    align-items: center;
}
.content-foto-contact {
    position: relative;
    width: 586px;
    height: 741px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-contact {
    position: relative;
    z-index: 2;
    height: auto;
}
.contact-cube,
.contact-cube-sec {
    position: absolute;
    width: 435px;
    height: 435px;
    background-color: var(--yellow);
    z-index: 1;
}
.contact-cube {
    top: 304px;
    left: -44px;
}
.contact-cube-sec {
    top: -2px;
    right: -44px;
}
.contact-item-h5::after {
    content: "";
    background-image: url(../img/decoration-spoon.svg);
    background-size: contain;
    width: 40px;
    height: 9px;
    display: block;
    background-repeat: no-repeat;
    margin-top: 8px;
    margin-bottom: 8px;
}
.contact-item-h2 {
    margin-bottom: 64px;
}
.scroll-header {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: right;
    margin-right: 120px;
    position: relative;
    top: -100px;
}
.header-scroll-gradient {
    width: 1px;
    height: 61px;
    background-image: linear-gradient(to top, rgba(220, 202, 135, 0.24), rgba(220, 202, 135, 1));
    position: relative;
    left: 98%;
}
.brand-logo::after {
    content: "";
    position: absolute; 
    top: 2px;
    background-image: url(../img/brand.png);
    background-size: cover;
    width: 146px;
    height: 146px;
    display: block;
    background-repeat: no-repeat;
    top: -20px; 
    left: 85%; 
}
.reservation {
    position: relative; 
}
.menus {
    position: relative;
}
.brand-logo-menus::after {
    content: "";
    position: absolute; 
    top: 2px;
    background-image: url(../img/brand.png);
    background-size: cover;
    width: 146px;
    height: 146px;
    display: block;
    background-repeat: no-repeat;
    left: 15%;
}
.brand-logo-customers::after {
    content: "";
    position: absolute; 
    top: 2px;
    background-image: url(../img/brand.png);
    background-size: cover;
    width: 146px;
    height: 146px;
    display: block;
    background-repeat: no-repeat;
    top: -40px;
    left: 80%;
}
.customers {
    position: relative;
}
.customers-list-photo::after {
    content: "";
    width: 47px;
    height: 40px;  
    background: url(../img/pp.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    position: absolute;
    left: 160px;
    top: 170px;
}
.customers-list-item {
    position: relative;
}
.interior {
    position: relative;
}
.brand-logo-interior::after {
    content: "";
    position: absolute; 
    background-image: url(../img/brand.png);
    background-size: cover;
    width: 146px;
    height: 146px;
    display: block;
    background-repeat: no-repeat;
    top: 140px;
    left: 10%;
}
.play-button::before {
    content: "";
    background-image: url(../img/play-button.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
    display: block;
    position: absolute; 
    top: 322px;
    left: 600px;
}
.meal-photo::before {
    content: "";
    background-image: url(../img/g-light.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 360px;
    height: 379px;
    display: block;
    position: absolute;
    top: 440px;
    left: 745px;
}
.updates {
    position: relative;
}
.brand-logo-updates::after {
    content: "";
    background-image: url(../img/brand.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
    display: block;
    position: absolute; 
    top: 83%;
    left: 90%;
}
.gallery-photo {
    transition: opacity 0.4s ease-in;
}
.gallery-photo-item {
    position: relative;  
}
.gallery-photo-item:hover .gallery-photo {
    opacity: 0.2;  
}
.gallery-photo-item:hover::after {
    content: "";
    background-image: url(../img/insta-png.png);  
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 43px;
    height: 43px;
    z-index: 2; 
}
.gallery-list-h5::after {
    content: "";
    background-image: url(../img/decoration-spoon.svg);
    background-size: contain;
    width: 40px;
    height: 9px;
    display: block;
    background-repeat: no-repeat;
    margin-top: 8px;
    margin-bottom: 8px;
}
.gallery-list-h2 {
    margin-bottom: 24px;
}
.button-gallery {
    margin-top: 24px;
}
.footer {
    position: relative;
}
.brand-logo-footer::after {
    content: "";
    background-image: url(../img/brand.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
    display: block;
    position: absolute; 
    top: -41%;
    left: 8%;
}
.rocks-section-title {
    position: absolute;
    z-index: 2;
}
.rocks-section-img {
    position: relative;
    z-index: 1;
}
.rocks .container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.rocks-section-img {
    border: 1px solid var(--yellow);
}
.rocks-scroll {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: right;
    margin-right: 120px;
    position: relative;
    top: -50px;
    right: 41.5%;
    z-index: 2;
}
.brand-logo-reservation::after {
    content: "";
    background-image: url(../img/brand.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
    display: block;
    position: absolute; 
    top: -5%;
    left: 85%;
}
.brand-logo-entertainment::after {
    content: "";
    background-image: url(../img/brand.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
    display: block;
    position: absolute; 
    top: 1%;
    left: 8%;
}
.brand-logo-special-menu::after {
    content: "";
    background-image: url(../img/brand.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
    display: block;
    position: absolute; 
    top: 5%;
    left: 82%;
}
.special-menu-bg, .bg, .bar-entertainment, .reservation {
    position: relative;
}
.brand-logo-special-menu-2::after {
    content: "";
    background-image: url(../img/brand.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
    display: block;
    position: absolute; 
    top: 93%;
    left: 5%;
}
.brand-logo-footer-bar::after {
    content: "";
    background-image: url(../img/brand.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
    display: block;
    position: absolute; 
    top: 3%;
    left: 82%
}
.content-page-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 14px;
    transform: rotate(360deg);
    writing-mode: vertical-lr;
    position: absolute;
    top: 90%;
    left: 95%
}